@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Colegio Primavera</h1>
        <p class="lead">Aplicacion para registrar, actualizar y eliminar alumnos</p>
    </section>

    <div class="row">
        <section class="col-md-12" aria-labelledby="gettingStartedTitle">
            <form action="#" method="POST">

                <div class="row">
                    <label>Id Alumno</label>
                    <input type="text" id="txtId" placeholder="Ingrese id"
                           required autofocus />

                </div>

                <div class="row">
                    <label>Nombre</label>
                    <input type="text" id="txtNombre" placeholder="Ingrese Nombre" required />

                </div>

                <div class="row">
                    <label>Edad</label>
                    <input type="number" id="txtEdad" min="0" max="200" required />
                </div>

                <div class="row">
                    <button type="submit" id="btnRegistrar">Registrar</button>
                </div>
            </form>
        </section>
        
    </div>
</main>